<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head"></head>
<body>
<div th:replace="header::lang_choice"></div>
<div th:replace="header::top_menu"></div>

<h2>Ships</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th>id</th>
                        <th>Name</th>
                        <th>Total capacity</th>
                        <th>Route</th>
                        <th>Facilities</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "ship: ${all_ships}">
                        <td th:text="${ship.id}"></td>
                        <td class="font-weight-bold" th:text="${ship.name}"></td>
                        <td th:text="${ship.totalCapacity}"></td>
                        <td>
                            <p>
                                <span th:insert="common_fragments::route_localized_name" th:with="route=${ship.route}" class="font-weight-bold"></span>
                                <span th:insert="common_fragments::route_duration_to_string" th:with="route=${ship.route}" class="font-weight-normal"></span>
                            </p>
                            <span th:insert="common_fragments::route_ports_to_string" th:with="route=${ship.route}"></span>
                        </td>
                        <td th:insert="common_fragments::ship_facilities_nice" th:with="ship_extrasIds=${ship.extrasIds}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>