<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Tourist</title>
    <style>
        .langlinks{
                color: white;
                text-decoration: none;
        }
    </style>
</head>
<body>
<div style="text-align: center; padding:5px;margin:5px 0px;background:#63BDF2; color:white;">
    <span th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
    <b>
        <a class="langlinks" th:href="${urlBuilder.replaceQueryParam('lang', 'en').toUriString()}">English</a>
        &nbsp;|&nbsp;
        <a class="langlinks" th:href="${urlBuilder.replaceQueryParam('lang', 'uk').toUriString()}">Українська</a>
    </b>
    </span>
</div>
<h1>Hello tourist!</h1>
<div>
    <h2 th:utext="#{label.title}"></h2>
</div>
</body>
</html>