<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:utext="#{ui.main.title}"></title>
    <link rel="stylesheet" href="/css/global.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:replace="header::lang_choice"></div>
<div th:replace="header::logout_button"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" th:utext="#{ui.excursion.edit.invitation}"></h3>
                </div><br/>
                <div class="card-body">
                    <form th:action="@{/travel_agent/edit_excursion}" th:object="${excursion}" method="post">
                        <input type="hidden" name="id" th:value="${excursion.id}">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label th:for="nameEn" th:utext="#{ui.excursion.name.en}"></label>
                                    <input class="form-control" th:field="*{nameEn}" th:required="required"
                                           th:pattern="#{regex.name.en}" th:title="#{regex.name.en.tip}"
                                           th:value="${excursion.nameEn}">
                                </div>
                                <div class="form-group">
                                    <label th:for="descriptionEn" th:utext="#{ui.excursion.description.en}"></label>
                                    <textarea class="form-control" th:field="*{descriptionEn}" th:required="required"
                                              th:utext="${excursion.descriptionEn}" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label th:for="nameUkr" th:utext="#{ui.excursion.name.ukr}"></label>
                                    <input class="form-control" th:field="*{nameUkr}" th:required="required"
                                           th:pattern="#{regex.name.ukr}" th:title="#{regex.name.ukr.tip}"
                                           th:value="${excursion.nameUkr}">
                                </div>
                                <div class="form-group">
                                    <label th:for="descriptionUkr" th:utext="#{ui.excursion.description.ukr}"></label>
                                    <textarea class="form-control" th:field="*{descriptionUkr}" th:required="required"
                                              th:utext="${excursion.descriptionUkr}" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label th:for="approximateDurationHr" th:utext="#{ui.excursion.duration}"
                                           class="col-4 col-form-label"></label>
                                    <div class="col-8">
                                        <input class="form-control" th:field="*{approximateDurationHr}" th:required="required"
                                               pattern="\d{1,2}" th:title="#{regex.number.upto2digit.tip}"
                                               th:value="${excursion.approximateDurationHr}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label th:for="priceUSD" th:utext="#{ui.excursion.price}"
                                           class="col-4 col-form-label"></label>
                                    <div class="col-8">
                                        <input class="form-control" th:field="*{priceUSD}" th:required="required"
                                               th:pattern="#{regex.price}" th:title="#{regex.price.tip}"
                                               th:value="${excursion.priceUSD}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="seaportId" th:value="${excursion.seaport.id}">
                        <div th:text="${excursion.seaport.countryEn + '-' + excursion.seaport.nameEn}"></div>

                        <h6 class="text-danger" th:if="${param.error}" th:utext="#{ui.error.not.saved}"></h6>
                        <input type="submit" class="btn btn-success" th:value="#{ui.button.save}" />
                        <a class="btn btn-secondary" href="/travel_agent/excursions"><div th:text="#{ui.button.cancel}"></div></a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>