<select th:fragment="port_select" class="form-control" id="seaportId" name="seaportId" required>
    <option hidden disabled selected value>-</option>
    <option th:if="#{localization.lang}==UKR"
            th:each="seaport : ${all_seaports}"
            th:value="${seaport.id}" th:text="${seaport.nameUkr}"
            th:selected="${seaport.id}==${excursion?.seaport?.id} OR ${seaport.id}==${#request.getParameter('seaportId')}"></option>
    <option th:unless="#{localization.lang}==UKR"
            th:each="seaport : ${all_seaports}"
            th:value="${seaport.id}" th:text="${seaport.nameEn}"
            th:selected="${seaport.id}==${excursion?.seaport?.id} OR ${seaport.id}==${#request.getParameter('seaportId')}"></option>
</select>


<span th:fragment="route_ports_to_string" >
    <span class="font-italic" th:unless="#{localization.lang}==UKR"  th:each="port, iterStat: ${portsList}" >
        <span th:if="${iterStat.index < iterStat.size-1}" th:text="${port.nameEn + '(' + port.countryEn + ') - '}"></span>
        <span th:if="${iterStat.index == iterStat.size-1}" th:text="${port.nameEn + '(' + port.countryEn + ')'}"></span>
    </span>
    <span class="font-italic" th:if="#{localization.lang}==UKR" th:each = "port, iterStat: ${portsList}" >
        <span th:if="${iterStat.index < iterStat.size-1}" th:text="${port.nameUkr + '(' + port.countryUkr + ') - '}"></span>
        <span th:if="${iterStat.index == iterStat.size-1}" th:text="${port.nameUkr + '(' + port.countryUkr + ')'}"></span>
    </span>
</span>

<span th:fragment="order_status_nice">
    <th:block th:switch="${order.status.name()}">
        <span th:case="'NEW'" th:text="#{ui.order.status.new}"></span>
        <span th:case="'CANCELED'" th:text="#{ui.order.status.canceled}"></span>
        <span th:case="'PAID'" th:text="#{ui.order.status.paid}"></span>
        <span th:case="'EXCURSIONS_ADDED'" th:text="#{ui.order.status.excursions_added}"></span>
        <span th:case="'EXTRAS_ADDED'" th:text="#{ui.order.status.extras_added}"></span>
    </th:block>
</span>
