<select th:fragment="port_select" class="form-control" id="seaportId" name="seaportId" required>
    <option hidden disabled selected value>-</option>
    <option th:if="#{localization.lang}==UKR"
            th:each="seaport : ${all_seaports}"
            th:value="${seaport.id}" th:text="${seaport.nameUkr}"
            th:selected="${seaport.id}==${excursion?.seaport?.id} OR ${seaport.id}==${#request.getParameter('seaportId')}"></option>
    <option th:unless="#{localization.lang}==UKR"
            th:each="seaport : ${all_seaports}"
            th:value="${seaport.id}" th:text="${seaport.nameEn}"
            th:selected="${seaport.id}==${excursion?.seaport?.id} OR ${seaport.id}==${#request.getParameter('seaportId')}"></option>
</select>

<span th:fragment="route_localized_name">
    <span th:unless="#{localization.lang}==UKR" th:text="${route?.nameEn}"></span>
    <span th:if="#{localization.lang}==UKR" th:text="${route?.nameUkr}"></span>
</span>

<span th:fragment="route_duration_to_string">
    <span th:text="${'(' + route?.durationDays + ' __#{ui.route.days}__/' + route?.durationNights + ' __#{ui.route.nights}__)'}"></span>
</span>

<span th:fragment="route_ports_to_string" >
    <span class="font-italic" th:unless="#{localization.lang}==UKR"  th:each="port, iterStat: ${route?.portsList}" >
        <span th:if="${iterStat.index < iterStat.size-1}" th:text="${port.nameEn + '(' + port.countryEn + ') - '}"></span>
        <span th:if="${iterStat.index == iterStat.size-1}" th:text="${port.nameEn + '(' + port.countryEn + ')'}"></span>
    </span>
    <span class="font-italic" th:if="#{localization.lang}==UKR" th:each = "port, iterStat: ${route.portsList}" >
        <span th:if="${iterStat.index < iterStat.size-1}" th:text="${port.nameUkr + '(' + port.countryUkr + ') - '}"></span>
        <span th:if="${iterStat.index == iterStat.size-1}" th:text="${port.nameUkr + '(' + port.countryUkr + ')'}"></span>
    </span>
</span>

<div th:fragment="ship_facility_line">
    <img th:unless="${#lists.contains(ship_extrasIds, facility.id)}" src="/imgs/minus-square.svg" alt="not available"/>
    <img th:if="${#lists.contains(ship_extrasIds, facility.id)}" src="/imgs/plus-square.svg" alt="present"/>
    <span th:unless="#{localization.lang}==UKR" th:text="${facility.nameEn}"></span>
    <span th:if="#{localization.lang}==UKR" th:text="${facility.nameUkr}"></span>
</div>

<div th:fragment="ship_facilities_nice">
    <div class="row" >
            <div class="col-6">
                <div th:each="index : ${#numbers.sequence(0, all_ship_facilities.size()/2)}" th:with="facility=${all_ship_facilities.get(index)}"
                 th:include="::ship_facility_line"></div>
            </div>
            <div class="col-6">
                <div th:each="index : ${#numbers.sequence(all_ship_facilities.size()/2 + 1, all_ship_facilities.size()-1)}"
                     th:with="facility=${all_ship_facilities.get(index)}"
                     th:include="::ship_facility_line"></div>
            </div>
    </div>
</div>